@import './fonts.css';
@import './animation.css';
@import './scrollbar.css';
@import './heart.css';

html,
body {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

a:hover {
  font-weight: 500;
}

a.no-underline {
  text-decoration: none;
}