@import './fonts.css';
@import './animation.css';
@import './scrollbar.css';
@import './heart.css';

html,
body {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  color: inherit;
}

a:hover {
  color: black;
}

@media (prefers-color-scheme: dark) {
  a:hover {
    color: white;
  }
}

a.no-underline {
  text-decoration: none;
}
